.dog_card {
	width: 50%;
	margin: 15px;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	background-color: #fabd4b46;
}

.button_details {
	width: 205px;
	background-color:#00101d42;
	border-radius:6px;
	border:1px solid #fabd4b46;
	display:inline-block;
	cursor:pointer;
	color:#f7d7d9;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}

.button_details:active {
	position:relative;
	top:1px;
}

.button_details:hover {
background-color: #f8a10046;
}


.dog_image {
    width: 150px;
    height: 150px;
    
}

.cards{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-template-columns: repeat(4, 1fr);
}