body {
  
  background: url(https://estaticos-cdn.prensaiberica.es/clip/77b3f08c-44af-4949-8b5c-4022137311ac_16-9-discover-aspect-ratio_default_0_x1875y2889.jpg);
  background-attachment: fixed; 
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
